/***********************body setup**********************/

body {
	background-color: #FBBBB9;
}

.container {
	max-width: 1000px;
	background-color: #FFDFDD;
}

/***********************header setup**********************/

@font-face {
	font-family: "cupcake font";
	src: url( ../fonts/cupcake-party/CupcakePartyDemo.ttf) format("truetype");
}

.cupcake {
	font-family: "cupcake font", verdana, tahoma;
	font-size: 100px;
	text-shadow: 6px 7px #FBBBB9, 0px 3px 3px white;
}

/***********************navigation bar**********************/

.navbar {
	background-color: #FBBBB9;
	font-size: 20px;
}

/***********************content setup***********************/

.img-responsive {
	margin: 10px auto;
	background-color: white;
	padding: 5px;
}

.img-responsive, .products_wrapper {
	box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
	border-radius: 15px;
	border: 3px solid #FBBBB9;
}

.recipe_wrapper {
	border-bottom: 3px solid #FBBBB9;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: flex-end;
	justify-content: space-between;
}

.description {
	font-family: verdana, tahoma;
	border-bottom: 3px solid #FBBBB9;
	padding-bottom: 10px;
	padding: 10px 5%;
}

.directions, .products_wrapper {
	margin: 20px 5px;
	width: 45%;
}

.products_wrapper p {
	text-indent: 5%;
}

.products {
	list-style-type: none;
	line-height: 22px;
}

.products>li {
	display: flex;
}

.done, .quantity, .ingridients {
	flex-grow: 0.1;
	justify-content: flex-start;
	width: 400px;
}

.done {
	width: 100px;
}


